body{
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url('./Comps/extra/Group\ 1.svg');
}
.App {
  text-align: center;
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: black;

  }
